@tailwind base;
@tailwind components;
@tailwind utilities;

/* GENERAL STYLES */
html {
    font-family: 'Montserrat', sans-serif;
}

/* =================================================================
                MOBILE VERSION
==================================================================== */

/* HEADER STYLES */
.aboveHeader {
    background-color: #616060;
    text-align: center;
    padding: 2vh 0;
}

.aboveHeader p {
    color:#fff;
    font-size: 18px;
    text-transform: uppercase;
}

header {
    border-bottom: 1px solid #F2F2F2;
}

.logo {
    width: 5vw;
}

/* PAGE LAYOUT */

.productDetailSection, .ribbonSection {
    padding: 43px 400px;
}

.galleryWrapper {
    width: 600px;
    height: 480px;
    gap: 20px;
    position: relative;
}

/* GALLERY */

.galleryLarge {
    width: 480px;
    height: 480px;
    position: static !important;
}

.swiperImg {
    border-radius: 5px;
}

.swiper-button-prev::after, .swiper-button-next::after {
    color: #000;
    font-size: 12px !important;
    font-weight: 700;
}

.swiper-button-prev, .swiper-button-next {
    top: 105% !important;
}

.swiper-button-prev {
    left: 55% !important;
}

.swiper-button-next {
    right: 35% !important;
}

.thumbs {
    width: 100px;
}

.swiper-pagination {
    display: none;
}

/* PRODUCTDETAILS */

.detailsWrapper {
    margin: auto 50px;
    padding: 18px 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0px 3px 20px #00000029;
    border-radius: 5px;
    border: 1px solid #00000029;
    width: 475px;
    font-size: 18px;
}

.productTitle {
    font-size: 25px;
    font-weight: 600;
}

.productVendor {
    padding-bottom: 14px;
    display: inline-block;
}

.prices {
    align-items: baseline;
}

.originalPrice {
    font-weight: 600;
    text-decoration: line-through;
    padding-right: 20px;
}

.actualPrice {
    color: #1F47FF;
    font-weight: 600;
    padding-right: 6px;
}

.mwst {
    font-size: 10px;
}

.toCartButton {
    background-color: #1F47FF;
    color: #fff;
    border-radius: 3px;
    height: 52px;
    width: 100%;
    margin-top: 37px;
    font-weight: 600;
}

/* RIBBONSECTION */

.ribbonSection {
    justify-content: space-between;
}

.ribbonSection img {
    width: 57px;
    height: 57px;
    object-fit: contain;
}

.ribbonSection div div {
    padding-left: 20px;
    font-size: 18px;
}

.ribbonSection div h3 {
    font-weight: 600;
}

/* =================================================================
                MOBILE VERSION
==================================================================== */

@media (max-width: 575.98px) { 
    /* HEADER STYLES */
.aboveHeader {
    padding: 1.5vh 0;
}

.aboveHeader p {
    font-size: 16px;
}

.logo {
    width: 30vw;
}

/* PAGE LAYOUT */

.productDetailSection, .ribbonSection {
    padding: 15px 0 0 0;
}
.productDetailSection>div {
    flex-direction: column;
    align-items: center;
}
.galleryWrapper {
    width: 100%;
    height: 350px;
    margin-bottom: 30px;
}

/* GALLERY */

.galleryLarge {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    width: 350px !important;
}
.swiperImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.swiper-button-prev {
   display: none !important;
}

.swiper-button-next {
    display: none !important;
}

.thumbs {
    display: none;
}

.swiper-pagination {
    display: block;
    top: 102%;
}

.swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
}

.swiper-pagination-bullet-active {
    background-color: #E5E5E5 !important;
}
/* PRODUCTDETAILS */

.detailsWrapper {
    margin: auto;
    padding: 26px 20px;
    width: 350px;
    font-size: 16px;
}

.productTitle {
    font-size: 22px;
}

.productVendor {
    padding-bottom: 16px;
}

.toCartButton {
    margin-top: 34px;
}

/* RIBBONSECTION */

.ribbonSection {
    flex-direction: column;
    align-items: center;
    gap: 29px;
    padding-top: 36px;
    padding-bottom: 20vh;
}

.ribbonSection img {
    width: 48px;
    height: 48px;
}

.ribbonSection div div {
    padding-left: 25px;
    font-size: 16px;
}

.ribbonSection div h3 {
    font-weight: 600;
}
 }



